<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.ysl.mapper.UserMapper">
	<resultMap id="UserResultMap" type="com.hand.ysl.dto.User">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="password" property="password" jdbcType="VARCHAR" />
		<result column="enabled_flag" property="enabledFlag" jdbcType="VARCHAR" />
	</resultMap>

	<resultMap id="RoleResultMap" type="com.hand.ysl.dto.Role">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">
		id, name, password, enabled_flag
	</sql>
	<select id="selectByPrimaryKey" resultMap="UserResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from user
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from user
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.hand.ysl.dto.User">
		insert into user (id, name, password
		)
		values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR},
		#{password,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.hand.ysl.dto.User">
		insert into user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="password != null">
				password,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				#{password,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.hand.ysl.dto.User">
		update user
		<set>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				password = #{password,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.hand.ysl.dto.User">
		update user
		set name = #{name,jdbcType=VARCHAR},
		password = #{password,jdbcType=VARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>
	<!-- 自己编写的方法 -->
	<select id="getByUserName" parameterType="java.lang.String" resultMap="UserResultMap">
	 select * from user where name=#{username}
	</select>

	<select id="getRolesByUserName" parameterType="java.lang.String" resultMap="RoleResultMap">
select r.id,r.name from role r where r.id in (select ur.role_id from user_role ur where ur.user_id=(select u.id from user u where u.name=#{username}
))	</select>
</mapper>